@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@300&display=swap');

body {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    background: #efefef;
}

a {
    color:#5f31b6;
    text-decoration:none;
}


 #header {
    padding:0px 100px;
    font-size:14px;
    background: #fff;
    color: black;
    border-bottom: 1px solid #dad7d7;
    overflow:auto;
} 
.navbar {
    background: #fff;  
}
#header .logo {
    font-family: 'Cookie', cursive;
    float:left;
    color: black;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-right:10%;
}
.prof-img {
    width: 100%;
}
.row1, .row2 {
    display: flex;
    align-items: center;
    align-content: center; 
    margin-top: 2rem;
}

.row2 {
    justify-content: space-around; 
}
.username {
    padding-right: 2rem;
}
.profile {
    font-weight: bold;
}

