{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   {% block styles %}
        {% bootstrap_css %}
        <link href="{% static 'css/main.css' %}" rel="stylesheet" />
   {% endblock %}
  </head>
  <body>
    {% include 'navbar.html' %}
    <div id="content">
        {% block content %} {% endblock %}
    </div>

  {% block scripts %}
    
    {% bootstrap_javascript %}
  {% endblock %}

  <script type="text/javascript" src="{%static 'js/main.js'%}"></script>
  </body>
</html>
