{% extends 'insta/base.html'%}
{% load cloudinary %}
{% load bootstrap5 %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-4">
              <br>
              <a href="{% url 'newprofile' %}">
                <button class="btn btn-primary">People to follow</button>
              </a>
              <br>
              <br>
              Following:
              <ul>
                  {% for p in profile.following.all %}
                    <li>{{p}}</li>
                  {% endfor %}
              </ul>
      </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
             <!-- main content -->
             {% for image_list in images %}
              {% for image in image_list %}
                <div class="card border-secondary mt-3 mb-3">
                 <div class="card-header bg-transparent border-secondary">
                  <!-- here -->
                  <a href="#"> {{ image.profile.user }}</a>
                 </div>

                 <div class="card-body">
                   <!-- <h5 class="card-title">Success card title</h5> -->
                    <a href="{% url 'show_image' image.id%}"></a>{% cloudinary image.img class="home-display" %}</a>
                    <div class="icons">
  
                      <div class="likes">
                        <form action="{% url 'like'%}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="image_id" value="{{image.id}}">
                          <button type="submit" class="btn btn-outline-secondary btn-like">
                            {% if user not in image.Likes.all %}
                            <i class="fa fa-heart empty"></i>
                            {% else %}
                            <i class="fa fa-heart full"></i>
                            {% endif %}
                            {{image.count_likes}}
                          </button>
                          &nbsp; 
                        </form>
                      </div>
                      <div class="comments">
                        <a href="{% url 'show_image' image.id%}"><i class="fa fa-comment" 7x></i></a>
                      </div>
                    </div> 
                    <div class="card-footer text-muted bg-transparent border-secondary">
                  </div>
               </div>
               <p>end of image {{ image.image_name}}</p>
              {% endfor %}
            
             {% endfor %}
            <!-- end of images -->
           
        </div>

       
    </div>
</div>
{% endblock %}
{% block scripts %}

  <script>
    $(document).ready(function(){
      console.log("working!!")
    })
    
  </script>
{% endblock %}