{% extends 'insta/base.html'%}
{% load cloudinary %}
{% load bootstrap5 %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            {% for image in images %}
            <div class="card border-secondary mt-3 mb-3">
                <div class="card-header bg-transparent border-secondary">
                 <!-- here -->
                 {{ image.profile.user }}
                 <form action="{% url 'like'%}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="image_id" value="{{image.id}}">
                    <button type="submit" class="btn btn-outline-primary">
                      {% if user not in image.Likes.all %}
                      Like
                      {% else %}
                      Unlike
                      {% endif %}
                    </button>
                    &nbsp; {{image.count_likes}}
                 </form>
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Success card title</h5> -->
                 <a href="{% url 'show_image' image.id%}">{% cloudinary image.img class="home-display" %}</a>
                  <p class="card-text">Comments</p>
                    {% if image.comment_set.all %}
                      {% for comment in image.comment_set.all %}
                        <p>{{ comment.body }}</p>
                      {% endfor %}
                    {% endif%}
                </div>
                <div class="card-footer text-muted bg-transparent border-secondary">
                

                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}

  <script>
    $(document).ready(function(){
      console.log("working!!")
    })
    
  </script>
{% endblock %}