{% extends 'insta/base.html'%}
{% load bootstrap5 %}
{% load cloudinary %}


{% block content %}

<div class="container profile">
    <div class="row">
        <div class="col-md-2"></div>
        <!-- profile image -->
        <div class="col-xs-4 col-dm-3 col-md-2 col-lg-2">
            {% if user.profile.photo %}
            {% cloudinary user.profile.photo class="rounded-circle prof-img" %}
            {% else %}
            <img style="padding-top: 10px;" class="rounded-circle prof-img" src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1214428300?k=6&m=1214428300&s=612x612&w=0&h=rvt5KGND3z8kfrHELplF9zmr8d6COZQ-1vYK9mvSxnc=" alt="">
            {% endif %}
        </div>
        <div class="col-md-1"></div>
        <!-- deatil section -->
        <div class="col-xs-4 col-dm-4 col-md-4 col-lg-4">
            <div class="row1">
                <span class="username">{{ user.username }}</span>
              
                <a href="{% url 'update_profile'%}"><button class="btn btn-outline-secondary" style="color: black;"><b>Edit Profile</b></button></a>
            </div>
            <div class="row1">
                <!-- following -->
                
            </div>
            <div class="row2">
                <span>{{ profile.get_images.count }} posts</span>
                <span>{{ profile.get_following.count }} following</span>
                <span>500 following</span>
            </div>
        </div>
        <!-- end of details -->
        <p></p>
        <p></p>
        <hr>
   
       <div class="prof-display">
        {% for image in profile.get_images %}
        <div data-bs-toggle="modal" data-bs-target="#imgModal{{image.id}}">
            {% cloudinary image.img class="owner-img" %}
        </div>
            <!-- Modal -->
        <div class="modal fade" id="imgModal{{image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{image.image_name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                {% cloudinary image.img class="image-detail" %}
                            </div>
                            <div class="col-md-4">
                                <h3>{{ image.profile.user }}</h3> <br>
                                <p>
                                    {{ image.caption }}
                                    
                                    <small class="text-muted">{{ image.pub_date|timesince }} ago</small>
                                </p>
                                <!-- comments -->
                                {% if image.comment_set.all %}
                                {% for comment in image.comment_set.all %}
                                <p>{{ comment.body }}</p>
                                {% endfor %}
                                {% endif%}

                                <!-- <input class="btn btn-outline-success" value="Copy Image Link" name='copy'> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>       
        {% endfor %}
       </div>
       <!-- end of images -->
    </div>
</div>

    <!-- FORM HERE -->
    <!-- should open up in a different page -->

{% endblock %}
